# Target
--target=x86_64-unknown-none

# Freestanding
-ffreestanding
-fno-builtin
-nostdlib
-nodefaultlibs
-nostdinc

# ABI
-mno-red-zone
-mcmodel=small

# Security
-fno-stack-protector
-fno-pie
-fno-pic

# CPU
-mno-sse
-mno-sse2
-mno-mmx
-mno-avx
-mgeneral-regs-only

# libc headers
-isystem build/rootfs/usr/include

# Compile only
-c
-o /tmp/ltos-program.o
