# Target
--target=x86_64-unknown-none

# Freestanding
-ffreestanding
-fno-builtin
-nostdlib
-nodefaultlibs
-nostdinc

# ABI
-mno-red-zone
-mcmodel=small

# Security
-fno-stack-protector

# CPU
-mno-mmx
-mno-avx
-msse
-msse2

# libc headers
-isystem /home/$USER/.ltos/toolchain/sysroot/usr/include

# Compile only
-c
